<div class="row">
  <div class="col-6 offset-3">
    <h2><strong>Login to Your Account</strong></h2>
    <form (ngSubmit)="submit()"
          [formGroup]="form">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
               autofocus
               formControlName="login">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" id="password" placeholder="Password"
               autofocus
               type="password"
               formControlName="password">
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>
</div>
