* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu__col {
    width: 100%;
}

@media (min-width: 1025px) {
    .menu__col {
        width: 33.33%;
    }
}

.menu {
    padding: 10px;
}

.menu__title {
    font-family: "Lucida Console", Monaco, monospace;
}

.menu__outer {
    padding: 5px;
    border: 1px solid black;
}

.menu__inner {
    display: flex;
    flex-flow: wrap;
    border: solid black;
    border-width: 2px 2px 0 0;
}

.menu__col {
    display: flex;
    flex-flow: column;
    align-content: stretch;
    border: solid black;
    border-width: 0 0 2px 2px;
    padding: 5px;
}

.menu__block-delimiter {
    width: 100%;
    border: none;
    color: black;
    background-color: black;
    height: 1px;
}

.menu__block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
    align-items: stretch;
    position: relative;
}

.menu__block_no-grow {
    flex-grow: 0;
}

.menu__item {
    display: flex;
    width: 100%;
}

.menu__item_small {
    width: 50%;
}

.menu__subitem {
    display: flex;
    align-items: center;
    padding: 5px;
}

.menu__subitem_name-header {
    width: 80%;
    margin: 0;
    padding-right: 10%;
    border: solid black;
    border-width: 0 1px 1px 0;
}

.menu__subitem_name-header-full {
    width: 100%;
    margin: 0;
    padding-right: 20%;
    border: solid black;
    border-width: 0 0 1px 0;
}

.menu__subitem_value-price-header {
    width: 10%;
    border: solid black;
    border-width: 0 0 1px 0;
    margin: 0;
    text-align: center;
    align-self: flex-end;
}

.menu__subitem_green {
    color: #0FAC4D;
    text-transform: uppercase;
}

.menu__subitem_name {
    width: 80%;
    border: solid black;
    border-width: 0 1px 0 0;
    overflow: hidden;
    white-space: nowrap
}

.menu__subitem_value-price {
    justify-content: center;
    width: 10%;
}

.menu__subitem_bold {
    font-weight: bold;
    font-size: 1.2rem;
}

.menu__subitem_left-border {
    border: solid black;
    border-width: 0 0 0 1px;
}

.menu__subitem_dots::after {
    content: " . .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
}

.menu__subitem_100 {
    width: 100%;
}

.menu__subitem_60 {
    width: 60%;
}

.menu__subitem_20 {
    width: 20%;
}

.menu__subitem_40 {
    width: 40%;
}

.menu__img-responsive {
    width: 100%;
    height: auto;
}

.menu__image-1-text {
    position: absolute;
    color: #0FAC4D;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    left: 64%;
    top: 10px;
}

.menu__image-2-content {
    width: 60%;
    padding-left: 5%;
}

.menu__image-2-heading {
    color: #0FAC4D;
    font-family: "Courier New", Courier, monospace;
}

.menu__image-2-list {
    padding-left: 30%;
    padding-right: 20%;
}

.menu__image-2-value-price {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    bottom: -9px;
}